html,body{
    width: 100%;
    margin: 0%;
    animation: animate 15s infinite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes animate{
    0% {
        background-color: aquamarine;
    }
    25% {
        background-color: mediumslateblue;
    }
    50%{
        background-color:gold;
    }
    75%{
        background-color: darksalmon;
    }
    100%{
        background-color:aquamarine;
    }
}

a:link, a:visited{
    background-color: black;
    color: lavender;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a:hover, a:active{
    background-color: lavender;
    color: black;
}

.a{
    margin-left: 50%;
}

.nav{
    overflow: hidden;
    /*background-color: #333;*/
    width: 100px;
    float: right;
    margin-right: 10px;
}

.dropdown{
    float:left;
    overflow: hidden;
}

.dropdown .drop{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 18px;
    font-family: inherit;
    margin: 0;
}

.content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.content a{
    float: none;
    color: lavender;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#id:hover{
    transform: scale(1.1);
}

.dropdown:hover .content{
    display: block;
}

.nav a:hover, .dropdown:hover .drop{
    background-color: white;
    color: black;
}

.languages{
    float: right;
    overflow: hidden;
    margin-right: 5%;
}

.languages .drop{
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 16px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.languages:hover .content{
    display: block;
}

.nav a:hover, .languages:hover .drop{
    background-color: white;
    color: black;
}

#first{
    height: 800px;
}

#logText{
    text-align: center;
    font-size: 30pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1535px){
    .a{
        margin-left: 35%;
    }
}
